### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pyc
local_settings.py
media/

venv/
.venv/
.environment
.env
static/
water_backend_venv

# vscode
.vscode/

# testing
/coverage
.pytest_cache

/.idea

# Celery stuff
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db

# docker compose databases storages
/docker-volume/

# Sqlite
*.sqlite*

# Extra
future_notes.txt
hh_clicker_venv
*.txt text eol=lf
*.py text eol=lf
*.md text eol=lf
*.pyi text eol=lf
*.cfg text eol=lf
*.ini text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.bat text eol=crlf
Dockerfile text eol=lf
/data
eninv/